{% extends "polls/base.html" %}

{% block title %}
  <title>Check Polls</title>
{% endblock title %}

{% block body %}
<table class="table table-striped table-dark" style="table-layout:fixed; border: 40px solid white;border-collapse: collapse;">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Question</th>
        <th scope="col">Date Created/Modified</th>
        <th scope="col">Particpate</th>
        <th scope="col">Edit/Delete</th>
        <th scope="col">View Result</th>
      </tr>
    </thead>
    <tbody>
      {% for ques in questions %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ques.question}}</td>
        <td>{{ques.pub_date}}</td>
        <td><a href="/participate/{{ques.id}}" style="color:white;" >Click to Particpate</a></td>
            <td><a href="/modify/{{ques.id}}" style="color:white;" >Click here to modify the question</a></td>
            <td><a href="/results/{{ques.id}}" style="color:white;" >Click here to view Result</a></td>
        </form>
        
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
  
{% endblock body %}
